.peopleimgc > img {
  width: 100%;
  height: 50vh;
  background-size: cover;
}
.contact-line-break {
  display: none;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .contact-line-break {
    display: block;
  }

  .contact-content {
    top: 7rem;
    left: 8rem;
    
  }
}
@media screen and (max-width: 768px) and (min-width: 425px) {
  .contact-line-break {
    display: block;
  }
  .contact-content {
    top: 4rem;
    left: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .contact-content {
    top: 4rem;
    left: 1rem;
  }
  .contact-line-break {
    display: block;
  }


}
