@media screen and (min-width: 425px) and (max-width: 768px) {
  .service-box-individual {
    /* width: 187px;
    height: 176px; */
  }
  .service-box-individual > div > img {
    width: 75px;
  }
  .service-box > div {
    white-space: nowrap;
  }
}
@media screen and (max-width: 375px) {
  /* .service-box-individual {
    font-size: 14px;
  } */
  .service-box-individual > div > img {
    width: 75px;
  }
  .service-box > div {
    white-space: nowrap;
    /* flex-basis: auto; */
    font-size: 14px;
  }
  .service-box-individual:nth-child(2)>* {
    font-size: 14px;
  }
}
