.peopleimgdesh{
  position: absolute;
  top: 0;
}
.peopleimgdesh > img {
  width: 100vw;
  height: 50vh;
  background-size: cover;
}
.country-line-break {
  display: none;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* .peopleimgdesh {
    position: relative;
    top: 82px;
  } */
  /* .yellow-cover {
    height: 50vh;
    top: 155px;
  } */
  .country-heading {
    top: 0rem;
    left: 7rem;
  }
  .country-line-break {
    display: block;
  }
  .country-main-box > div {
    flex-direction: column-reverse;
  }
  .country-card {
    flex-direction: column;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .country-heading {
    top: 0rem;
    left: 0rem;
  }
  /* .yellow-cover {
    height: 38vh;
    top: 148px;
  } */
  .country-main-box {
    margin: 0;
  }
  .country-main-box > div {
    flex-direction: column;
    margin: 0;
  }
  .country-flag-box {
    align-items: normal;
    justify-content: normal;
  }
  .country-content-subhead {
    font-size: 2.05rem;
  }
  .country-heading-2 {
    /* display: block; */
    flex-wrap: wrap;
  }
  .country-heading-2 > :nth-child(3) {
    font-size: 2rem;
  }
  .country-heading-2 > :nth-child(1) {
    font-size: 1.65rem;
  }
  .country-line-break {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .country-heading {
    top: 2rem;
    left: 0rem;
  }
  .yellow-cover {
    height: 50vh;
    top: 1px;
  }
  .country-main-box {
    margin: 0;
  }
  .country-main-box > div {
    flex-direction: column;
    margin: 0;
  }
  .country-flag-box {
    align-items: normal;
    justify-content: normal;
  }
  .country-content-subhead {
    font-size: 2.05rem;
  }
  .country-heading-2 {
    /* display: block; */
    flex-wrap: wrap;
  }
  .country-heading-2 > :nth-child(3) {
    font-size: 2rem;
  }
  .country-heading-2 > :nth-child(1) {
    font-size: 23px;
  }
}
@media  screen and (min-width: 1123px) {
  .country-line-break-xxl{
    display: block;
  }
}