* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.logo {
  width: 188px;
  height: 125px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-links {
    display: none;
    font-weight: 400;
  }
}
/* Only for main navbar below */
@media screen and (min-width: 768px) and (max-width: 1124px) {
  .navbar-links {
    display: none;
  }
  /* Only for main navbar up */
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .upper-navbar-link > img {
    display: none;
  }
  .navbar-company > a {
    white-space: normal;
    font-size: 1rem;
    line-height: 0rem;
    font-weight: 700;
  }
  .navbar-links {
    display: none;
  }
  .navbar-links > a {
  }
  .navbar-links-booking {
    padding: 0.35rem;
    background-color: white;
    text-transform: none;
    font-size: 14px;
  }
  .tablet-navbar>div>a{
    font-weight: 500;
    font-size: 14px;
    text-transform: none;
  }
  .upper-navbar-link{
    font-size: 15px;
  }
}
@media screen and (max-width: 425px)  {
  .upper-navbar-link > img {
    display: none;
  }
  .navbar-company > a {
    white-space: normal;
    font-size: 1rem;
    line-height: 0rem;
    font-weight: 700;
  }
  .navbar-links {
    display: none;
  }
  .navbar-links > a {
  }
  .navbar-links-booking {
    padding: 0.35rem;
    background-color: white;
    text-transform: none;
    font-size: 14px;
  }
  .tablet-navbar>div>a{
    font-weight: 500;
    font-size: 14px;
    text-transform: none;
  }
  .upper-navbar-link{
    font-size: 15px;
  }
}
@media screen and (min-width: 1124px) {
  .navbar-links {
    display: block;
  }
  .tablet-navbar {
    display: none;
  }
}
